/*Estilização da DIV do header */
.divHeader {
    position: relative;
}
.logo {
    width: 10%;
    border-radius: 50%;
}
main{
    background: linear-gradient(#FFFFFF, #dad4f1)
}
header{
    background-color:#faaee1;
    padding: 10px 0 20px 200px;
}
body{
    margin: 0;
    border: 0;
    font-family: "Tahoma";
}
/*Título*/
.contatos-titulo{
    font-size: 40px;
    font-weight: bold;
    color: rgb(78,8,116);
    list-style: none;
    font-family: cursive;
}
.contato-item:before{
    content: "🍰";
}
nav {
    color: white;
    font-size: 26;
    right: 3%;
    top: -5%;
    position: absolute;
}

nav li{
    display: inline;
    margin-right: 40px;
    font-family: cursive;
    font-size: 35px;
}
nav li a{
    color: white;
    text-decoration: none;
}


/*Formulário*/
form{
	margin-top: 20px;
	margin-left: 20%;
    margin-bottom: 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
/* alinhar o centro */
fieldset{
	width: 75%;
	padding-left: 5%;
	margin-bottom: 2%;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 85%;
}
.chk{
	margin: 20px 0;
}
.enviar{
	width: 40%;
	padding: 15px 0;
    margin-bottom: 20px;
	background: orange;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: darkorange;
	transform: scale(1.2);
}

/*Div do retorno do formulário*/
.divRetorno{
    display: none;
    margin-bottom: 15px;
}
.divRetorno p{
    font-size: 24px;
}

/*Footer*/
footer{
	background: url("../img/fundo_rodape.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6); /* Define a transparência */
    background-blend-mode: darken; /* Mistura as cores */
	padding: 30px 10px 10px 0;
}
footer p{
    font-weight: bold;
    color: white;
    /* display: inline-block; */
    width: 100%;
    text-align: right;
    font-size: 20px;
}
footer i{
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
.logo_footer{
	width: 15%;
    padding-left: 85%;
}
.enviar:hover{
    background-color: red;
    transform: scale(1.2);
}
